<div>
  <br/> Minimum number questions that user needs to answer: <%=@missing_relationships.count%> <br /><br />
  <b>Relationship of: </b>
  <%@missing_relationships.each do |rel|%>
    <li><%=member_name_by_id(rel.flatten.first)%> to <%=member_name_by_id(rel.flatten.second)%> </li>
  <%end%>

</div>