<div>
  <br/> Minimum number of questions to ask the applicant: <%=@missing_relationships.count%> <br /><br />
  <%if @missing_relationships.count > 0 %><b>Relationship of: </b><%end%>
  <ol>
    <%@missing_relationships.each do |rel|%>
      <li><%=member_name_by_id(rel.flatten.first)%> to <%=member_name_by_id(rel.flatten.second)%> </li>
    <%end%>
  </ol>
</div>