<small id="notice"><%= notice %></small >

<h3>Add Household Members</h3>
<p>Add new members and their relationship to <b><%=@household.primary_member.name%></b></p>
<%= render 'form' %>

<!-- <%#= link_to 'Show', @household %> | -->
<%= link_to 'Back', households_path %>
